numpy==1.26.4
matplotlib==3.9.2
torch==2.2.2
scikit-learn==1.5.1
pandas==2.2.2
six==1.16.0
ipython==8.27.0
torchvision==0.17.2
torchtext==0.17.2
networkx==3.3
seaborn==0.13.2
gensim==4.3.3
notebook==7.2.2
